/* You can add global styles to this file, and also import other style files */
agm-map {
    height: 300px;
    width: 100%;
  }
.letra-mapa{
	font-size : 30px;
	color : #068587;
	color : rgba(6, 133, 135, 1);
  text-align: center;

}