<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <h1 class="text-align-center-Encuestador">Encuestador </h1>
            <form #usuarioForm="ngForm" (ngSubmit)="onSubmit(usuarioForm)">


            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="usuarioService.selectUsuario._id">
             <div class="row">
                <div class="input-field col s12">
                <!-- required utiliza el css input.ng-invalid .ng.dirty  (click)="onBrake()"-->
                    <input type="text" name="nombre" #name="ngModel" (click)="onEdit(usr)" [(ngModel)]="encuestadorService.selectEncuestador"  required >
                    <label>Nombre :
                        <label class="red-text">*</label>
                    </label>
                </div>
             </div>

          
             <div class="row">
                <div class="input-field col s12">
                <!-- required utiliza el css input.ng-invalid .ng.dirty-->
                    <input type="text" name="direccion" #name="ngModel" [(ngModel)]="usuarioService.selectUsuario.direccion"  required >
                    <label>Direccion :
                        <label class="red-text">*</label>
                    </label>
                </div>
             </div>
             <!--Termina hoy-->

              <!--boton-->
                <div class="row"> 
                <div class="input-field col s12">
                        <button class="btn btn-custom right" type="button" (click)="resetForm(usuarioForm)">Reset</button>
                        <button class="btn btn-custom right" type="button" [disabled]="!usuarioForm.valid">Submit1</button>
                        <button class="btn btn-custom right" onCLick="window.location.href='/pagina'">hola</button>
                        <a class="action-btn" (click)="onEdit(usr)">
                      <i class="material-icons">edit</i>
                  </a>
                        
                        
                </div>
              </div>
              <!-- Termina boton-->

            </form>
          </div>
          
        </div>
      </div>
    </div>

    <div class="col s7">
              <table class="responsive-table highlight">
                <thead>
                  <tr>
                  <th>Nombre</th>
                  <th>Direccion</th>
                  <th></th>

                  </tr>
                </thead>
                <tr *ngFor="let usr of encuestadorService.encuestadores">
                  <td>{{usr.name}}</td>
                  <td>{{usr.nombre}}</td>
                  <td>{{usr.direccion}}</td>
                  <td>
                  <a class="action-btn" (click)="onEdit(usr)">
                      <i class="material-icons">edit</i>
                  </a>

                  <a class="action-btn" (click)="onDelete(usr._id,usuarioForm)">
                      <i class="material-icons">delete</i>
                  </a>
                  </td>
                </tr>
              
              </table>
              </div>
   </div>
<app-mapa></app-mapa>

    <div>
    
    
  </div>
  
</div>
<div>


</div>




