<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <h1 class="text-align-center-Encuestador">Encuestador </h1>
            <form #usuarioForm="ngForm" (ngSubmit)="onSubmit(usuarioForm)">

            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="usuarioService.selectUsuario._id">
             <div class="row">
                <div class="input-field col s12">
                <!-- required utiliza el css input.ng-invalid .ng.dirty-->
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="usuarioService.selectUsuario.name"  required >
                    <label>Nombre :
                        <label class="red-text">*</label>
                    </label>
                </div>
             </div>

             <!--HOY-->
             <div class="row">
                <div class="input-field col s12">
                <!-- required utiliza el css input.ng-invalid .ng.dirty-->
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="usuarioService.selectUsuario.name"  required >
                    <label>Nombre :
                        <label class="red-text">*</label>
                    </label>
                </div>
             </div>




             <!--Termina hoy-->
             
              <!--Segundo Campo-->
             <div class="row"> 
                <div class="input-field col s12">
                        <input type="text" name="position" #name="ngModel" [(ngModel)]="usuarioService.selectUsuario.position" required >
                        <label>Direccion :
                            <label class="red-text">*</label>
                        </label>
                </div>
              </div>
              <!--Termina Segudo Campo-->

              <!--boton-->
                <div class="row"> 
                <div class="input-field col s12">
                        <button class="btn btn-custom right" type="button" (click)="resetForm(usuarioForm)">Reset</button>
                        <button class="btn btn-custom right" type="button" [disabled]="!usuarioForm.valid">Submit1</button>
                </div>
              </div>
              <!-- Termina boton-->

            </form>
          </div>
        </div>
      </div>
    </div>
   </div>
<app-mapa></app-mapa>
    <div>
  </div>
</div>




